version: '2.2'
services:
  vpnse:
    image: vpnse:latest
    container_name: vpnse
    volumes:
      - ./data:/etc/vpnserver:rw
    cap_add: [ALL]
    devices:
      - /dev/net/tun:/dev/net/tun
    network_mode: host
    restart: unless-stopped
    user: root
    cpus: 1
    mem_limit: 200M

